

.coreValues-panel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
    color: rgba(0, 81, 81);
    height: max-content;
    border-radius: 10px;
    max-width: 400px;
    margin-top: 20px;
    top: calc(20% + 270px);
    left: 10px;
    width: 25%;
    z-index: 1;
    position: absolute;
    text-align: center;



}
.values{
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}
.coreTitle{
    width: 100%;
}
.values:hover {
    transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
    
  }
  