.Login-Footer-Div {
    background-color: #29C2DE;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: calc(10px + 2vmin);
    color: #005857;
  }

  .Login-Footer {
    background-color: #29C2DE;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%
  }
