@media all and (min-width: 480px) {
    
  .Login {
    background-color: white;
    position: fixed;
    width: 350px;
    height: 100;
    left: 50%;
    margin-top: 50px;
    margin-left: -175px;
    
  }
  h1{
    text-align: center;
    margin: 50px;
  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited,.btn-primary:active:focus {
    background-color: #008264 !important;
}
}