.rockstar-panel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
    color: rgba(0, 81, 81, 0.7);
    height: 250px;
    border-radius: 10px;
   
    top: 20%;
    left: 10px;
    width:25%;
    z-index: 1;
    position:absolute;


}

.line{
    padding: 0px;
    margin: 0px;

    color: black;
    
}
.title{
    text-align: center;
    
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
}
.rockstar-info{
    background-color: white;

    
    margin: 5px;
    z-index: 2;
    color: black;
    text-align: left;
    height: 185px;
    border-radius: 10px;

}
.profilePicture{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin-left: 5%;
    width: 5vmax;
    top:6%;
    position: absolute;
    border-radius: 50%;
    z-index:2;
   
}
.user-info{
    margin-left: 5vmax;
    padding-left: 2vmax;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgba(0, 81, 81, 0.7);
    width: max-content;
}
.position{
    color: white;
}
.details{
    margin-left: 20%;
    color: black;
    padding-left:15%;
    width: max-content;
    margin-bottom: 0px;


}
.coreValues{
    
    color: rgba(0, 81, 81,0.7);
    margin-right: 5px;
    display: inline;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;


}
.coreValuesTitle{
    margin-bottom: 0px;
    margin-left: 5px;
}


.rockstar-text{
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 10%;
}
