
.squre {
    padding: 10 px;
    font-size: 16px;
    /* margin-right: 0px; */
    background-color: rgb(210, 252, 255);
    color: #005857;
    border: 2px solid rgb(210, 252, 255);
    
    margin: 0;
    position: fixed;
    top: 100%;
    left: 100%;
    -ms-transform: translate(-100%, -100%); /* -ms-transform and transform has the magic that allow you to define the (top left) points to the center or anywhere */
    transform: translate(-100%, -100%);
    border-radius: 20px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
}
.squre:hover {
    color: #2CD5C4;
    cursor: pointer; 
}

.todoListMain .header textarea{
    vertical-align: top;
    height:80px;
    width: 400px;
    resize:none;
    display: inline-block;
    /* margin-left: 50%; */
    position: absolute;
    left: 50%;
    /* top: 100%; */
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 0%);
} 

.todoListMain .thisList li { /* common post */
    color: #333; /* color text*/
    /* background-color : #f4fffd;  */
    background-color :#f2ffff;
    padding: 5px; /*rectangles height */
    margin-bottom: 15px; /*space between each rectangles*/
    border-radius: 10px; /*round edge*/
    /* border: 5px solid rgb(210, 252, 255);  */
    list-style: none; /*hide the bullet points come from the flag <li>*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    /* keep all the text in the area */
    text-overflow: ellipsis; 
    word-wrap: break-word;
    overflow: hidden;

    /*DONT CHANGE ANYTHING BELOW!!!!!!!!!!!!!*/
    /* -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 0%); */
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    /* left: 60%; */
}

ul.thisList{ /*this is where you change the common window size*/
    position: relative;
    /* width: 750px; */
    width: 45vmax;
    max-width: 750px;
    top: 50px;
    left: 50%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 0%);
    border-radius: 10px; /*round edge*/
    display: inline-block;
}
ul.thisList{
    padding: 0;
}

textarea{
    display: block;
    width: 100%;
    height: 100px;
    /* border-color: rgb(255, 245, 210); */
    /* background-color : #fffaf4;  */
    /* border: thin solid black; */
    border-collapse: initial;
    
    text-indent: 5px;
    font-size: 17px;
    outline-offset: 0px !important;
    outline: none !important;
    resize: none;
}
.postHeader{
    border-radius: 10px;
    color: black;
    height:80px;
    /* width:700px; */
    font-family: 'Sriracha', arial, sans-serif;
    /* margin-bottom: 10px; */
}

.recognition{
    margin-top: 20px;
    background-color: rgb(210, 252, 255);
    border-radius: 10px; /*round edge*/
    /* border: thin solid black; */
    border-collapse: initial;
    height:172px;
    width: 620px;
    resize:none;
    margin-left: 55%;
    transform: translate(-50%, 5%); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.recognition .post{
    height:30px;
    width: 600px;
    
    resize:none;
    margin-left: 50%;
    transform: translate(-50%, 50%);  
} 

.recognition .box{
    margin-top: 10px;
    height:80px;
    width: 600px;
    background-color: rgb(210, 252, 255);
    /* background-color: rgb(51, 51, 51); */
    border-color: rgb(210, 252, 255);
}

.recognition .line{
    width: 600px;
    height: 5px;
    
    border-bottom: 1px solid rgb(175, 170, 146);
    position: absolute;
}

.postLineH{
    width: 710px;
    left: 20px;
    border-bottom: 2px solid  #cfe0e0;
    position: absolute;
    
}

.postFooter{
    height:100%;
}

.postFooter .postLineV{
    border-left: 2px solid  #cfe0e0;
    height: 80%;
    position: fixed;
    left: 50%;
    /* top: 5%; */
}
.commentArea{
    margin-top: 5px;
    /* height: 5px; */
}

.social {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: calc(100% - 40px); */
    margin: 0 auto;
}

.profilePictures{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-size:cover;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); */
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
.search{
    position: relative;
    z-index: 2;
    margin-left: 65%;
    transform: translate(-50%, 5%); 
    top: 30px;
    width:390px;
    height: 40px;
    border-radius: 10px;
  
}
.icon{
    display: inline;
    color: black;
    position: relative;
    z-index:3;
    
}

.searchRecognitions{
    z-index:2;
    left: 20px;
    top: -25px;
    width: 260px;

 }
/* input.recognitionFor{
    width: 100%;
    height: 30px;
    border: none;
    
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: 16px;
    font-weight: 400;

    line-height: normal;
    background-color:rgb(210, 252, 255); 
    
    border-radius: 10px;
    color: #282828;
    outline: none;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
    -webkit-appearance: none;
    text-indent: 8px;
} */
